p {
    color: #fff;
    a {
        color: plum;
    }
    > .red {
        color: red;
        background-color: darkred;
    }
    > b {
        font-style: bold;
    }
    .orange, #banner, h5 {
        color: orange;
    }
}
